*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_div{
    height: 100vh;
    width: 100%;
    /* background-color: white; */
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8293a7, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8594a7, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: grid;
    place-items: center;
}
.music_container{
    height: 50rem;
    width: 30rem;
    /* background-color: rgb(235, 235, 235); */
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #c4d9eb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b3dde9, #ebeff3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border-radius: 30px;
    text-align: center;
    padding: 5rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0,0, 0.2);
}
 #title{
    margin: 0.5rem auto;
    font-size: 2.5rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}
#artist{
    margin: 1rem auto;
    font-size: 1.3rem;
    color: rgb(44, 42, 42);
}
.img_container{
    width: 20rem;
    height: 20rem;
    margin:  20px auto;
    outline: none;
    border: none;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0,0, 0.2);
    object-fit: cover;
}
.music_controls{
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}
.music_controls .fa{
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 20px 20px;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}
.music_controls .fa:hover{
    background-color: black;
    border-radius: 50%;
    color: whitesmoke;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0,0, 0.2);
}

.anime{
    animation: rotatePlayer 3s linear infinite ;
}

@keyframes rotatePlayer {
    from{
        transform: rotate(0deg);
    }    
    to{
        transform: rotate(360deg);
    }
}

/* progress bar */
.progressbar_container {
    height:  auto;
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
}
.progress_bar{
    width: 100%;
    height: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0,0, 0.7), 0 2px 4px rgba(0, 0,0, 0.7), 0 4px 8px rgba(0, 0,0, 0.7), 0 8px 16px rgba(0, 0,0, 0.7),0 16px 32px rgba(0, 0,0, 0.7) ;
    border-radius: 4rem;
    position: relative;
    margin-top: 0.5rem;
    transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
    border-radius: 4rem;
    
    transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.duration{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 550;
}